extends layout
 
block content
  h1= title
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
 
  .container-fluid
    .row
      - let results1
      each author, index in results
        .col-sm-4.mb-3
          .card.clickable-card(onclick=`buy(${index})`, style=`background-color:green; color: white;`)
            .card-body
              h4.card-title= author.name
              p.card-text expertise: #{author.expertise}
              p.card-text age: #{author.age.toFixed(2)}
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`deleteFruit('${author._id}')`) Delete
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`updateFruit('${author._id}')`) Update
              button.btn.btn-danger.btn-sm(delete-btn, onclick=`detailFruit('${author._id}')`) Detail 

 
  script.
    function deleteFruit(id) {
      window.location.href='/author/delete/?id='+id;
    }

    function updateFruit(id) {
      window.location.href='/author/update/?id='+id;
    }

    function detailFruit(id) {
      window.location.href='/author/detail/?id='+id;
    }
 
